<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rarnu.web">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
            android:usesCleartextTraffic="true">
        <activity android:name=".WebContainerActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Material.Light">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <provider android:authorities="${applicationId}.cmw.provider"
                  android:name="android.support.v4.content.FileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider_paths"
                />
        </provider>
    </application>
</manifest>
